@import "../../../styles/variables";

.description {
  font-size: 0.75786rem;
  line-height: 1.4;
}

.wrapper {
  margin-bottom: $base-line-height * 1;
  overflow: hidden;
}

.likes {
  float: left;
}

.strong {
  color: rgba(0, 0, 0, 0.4);
  float: right;
}

.download {
  margin-top: 1rem;
  background-color: #f4f7fa;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  h5 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mainText {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.subText {
  font-size: 0.6rem;
  margin-bottom: 0.4rem;
}
