@charset "UTF-8";

@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

@import "~normalize-scss";

html {
  position: relative;
  min-height: 100%;
}

/** override react-bootstrap font style in body **/
body {
  font-family: Lora, sans-serif;
}
