@import "../../styles/variables";

.postItem {
  display: block;
  flex: 1 0 0%;
  width: 100%;
  position: relative;
  max-width: 365px;
  margin: 1px 2px;
}

.textWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 0.8rem;
  flex-direction: column;
  margin: 1px;
  text-align: center;

  div {
    width: 85%;
  }

  &:hover {
    background-color: rgba(19, 18, 18, 0.3);
  }

  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 2.1rem;
  }
}
