@import "../../styles/variables";

.gallery {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  margin-bottom: $base-line-height * (1 / 8);
}

.loadMore {
  font-size: 0.70711rem;
  line-height: 1.4rem;
  border: 1px solid blue;
  box-shadow: 0;
  background: none;
  color: blue;
  cursor: pointer;
  margin: 0 auto;
  padding: $base-line-height * (1 / 2);
  margin-left: $base-line-height * 0.5;
  margin-right: $base-line-height * 0.5;
  margin-bottom: $base-line-height * 0.5;
  margin-top: $base-line-height * 0.5;
  @media (min-width: 750px) {
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: $base-line-height * 1.5;
    margin-top: $base-line-height * 1.5;
    padding: $base-line-height * 1;
    height: $base-line-height * 5;
    width: $base-line-height * 5;
    line-height: $base-line-height * 3;
    text-align: center;
  }
}
