@import "../../assets/variables";

.imageWrapper {
  max-width: 180px;
  padding: 1rem;
  margin: 0 auto; // center images
}

.artistLink {
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid #007bff;
  }
}

.slickPrev {
  &::before {
    color: #343a40;
    font-size: 1.4rem;
  }
}

.slickNext {
  &::before {
    color: #343a40;
    font-size: 1.4rem;
  }
}
