@charset "UTF-8";

@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

@import "~normalize-scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  position: relative;
  min-height: 100%;
}

/** override react-bootstrap font style in body **/
body {
  font-family: Lora, sans-serif;
}

/** removed default css outline when selecting the item in the slide **/
.slick-slide {
  div:focus {
    outline: none;
  }
}
