@import "../../../styles/variables";

.usebar {
  @media (min-width: $tablet) {
    margin-bottom: $base-line-height * (3 / 4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.postDetailUsername {
  line-height: $base-line-height * 1;
  margin-bottom: $base-line-height * (3 / 4);
}
