@import "../../../styles/variables";

.usebar {
  @media (min-width: $tablet) {
    margin-bottom: $base-line-height * (3 / 4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.postDetailAvatar {
  border-radius: 100%;
  height: 25px;
  float: left;
  margin: 0px;
  margin-right: $base-line-height * (1 / 2);
}

.postDetailUsername {
  line-height: $base-line-height * 1;
  margin-bottom: $base-line-height * (3 / 4);
}
